*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
.popup-form {
  background-image: url('./bookingform.assets/consultation-form.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100000;
  border-radius: 3rem;
  background-color: #F5F5F5;
  width: 39.4rem;
  min-height: 50%;
}
@media(max-width:400px){
  .popup-form {
    background-image: url('./bookingform.assets/consultation-form.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100000;
    border-radius: 3rem;
    background-color: #F5F5F5;
    width: 24rem;
    min-height: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.popup-heading{
  color: #FBC336;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  line-height: 140%;
  font-size: 2.7rem;
}
.popup-subheading{
  color: white;
  font-family: 'Lato',sans-serif;
  font-size: 1.6rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-label,
.form-input,
.next-button,
.book-button {
  width: 100%;
  box-sizing: border-box;
}
.book-button:hover{
  background-color: #4EAF4E !important;
  color: white !important;
}

.first-set .form-label {
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.first-set .form-input {
  border-radius: 42px;
  border: 2px solid #FFF;
  padding: 8px;
  width: 70%;
  margin-bottom: 10px;
  background-color: transparent;
  color: #FFF;
}
#email{
width:96%;
}

.second-set,
.third-set {
  display: none;
}
.second-set .form-label,
.third-set .form-label {
  color: white;
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  padding-bottom: 0;
}
.second-set,
.third-set {
  display: flex;
  flex-direction: column;
  gap: 2rem !important; /* adjust the gap as you like */
  width: 100%;
}

.checkdiv{
  display: flex;
  gap:0.6rem;
  margin-bottom: 2rem;
}
#book{
  background: #FBC336;
  color: #181818;
  font-family: 'Lato', sans-serif;
  border-radius: 2rem;
    width: 13rem;
    height: 4.5rem;
    font-size:1.6rem;
    font-weight: 600;
   
}

input[type="checkbox"] {
  appearance: auto;
  border: 1px solid #fff; 
  border-radius: 0.2rem;
  background-color: transparent;
  width: 1.8rem; 
  height: 1.8rem; 
    accent-color: #4EAF4E !important;

}

#next {
  background: #FBC336;
  color: #181818;
  font-family: 'Lato', sans-serif;
  border-radius: 2rem;
    width: 13rem;
    height: 4.5rem;
    font-size:1.6rem;
    font-weight: 600;
    
}

.close-btn {
  position: absolute;
  top: 0.4rem; 
  right: 2rem; 
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff; 
  outline: none;
}

@keyframes tick-animation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}


.tick-container{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 72px;
  line-height: 100px;
  text-align: center;
 margin: 4vh auto;
 animation: tick-animation 0.5s ease-in-out forwards;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.primary-header {
  position: fixed;
  top: 0; left: 0; right: 0;
  padding: 1vh 5vw;
  z-index: 10000;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 1.75rem;
  font-weight: 500;
  background-color: white;
  width:100vw;

}

.primary-navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.primary-header .primary-navigation li a {
  color: #000;
  background-color: white;
  padding: 0.625rem 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.primary-header .primary-navigation a:hover {
  color: white;
  background-color: #4EAF4E;
  border-radius: 30px;
  text-decoration: none;
}

.logo {
  width: 11.285859375rem;
  height: 7.23515625rem;
}

.primary-header .primary-navigation .destinations img {
  margin-left: 0.625rem;
}

.booking {
  padding: 0.75rem;
  border: 2.5px solid #7FBA3A;
  border-radius: 0.75rem;
  margin-left: 5.5rem;
  background-color: #fff;
}
.booking:hover
{background-color: #4EAF4E;
color: white;}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  align-items: center;
  padding-top: 1rem;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  justify-content: center;
}


.primary-header .mobile-nav-toggle {
  padding: 0;
  background: none;
  border: none;
  display: none;
  position: absolute;
  right: 5vw;
  cursor: pointer;
  z-index: 10001;
}


@media (max-width: 1024px) {
  .primary-header .mobile-nav-toggle {
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }

  .primary-navigation .nav-list {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    background: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 10000;
    padding:4rem; 
    margin: 0; 
  }

  .primary-navigation .nav-list[data-visible="true"] {
    display: flex;
  }

  .primary-navigation .nav-list li {
    width: 50%; 
  }

  .primary-navigation .nav-list li a {
    display: block;
    text-align: left;
    padding: 2rem; 
    border-bottom: 1px solid #ccc; 
    border-width: 50% !important;
  }

  .primary-navigation .nav-list li:last-child a {
    border-bottom: none;
  }
  .dropdown {
    position: relative;
   
  }

  .dropdown-content {
    position: absolute;
    background-color: #ffffff; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    margin-left: 50%;
    padding: 1rem;
    top: 100%; 
    left: 0;
    z-index: 10;
    width: auto; 
  }

  
  .primary-header {
    padding: 1vh 2vw; 
  }
  
  .primary-header .logo {
    width: auto;
    height: auto;
  }
  
  .booking {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
  }
  .booking:hover{
  background-color: #4EAF4E;
  color: white;
  }
}



  .container1{
    background-color: rgba(244, 197, 25, 0.11);
    width: 100vw;
    height: auto;
    position: relative;
  }
  .header-content{
    padding: 1vh 5vw;
    display: flex;
    flex-direction: row;

  }
  .overseas{
    display:inline-flex;
    flex-direction:column;
    gap:0.6rem;
    margin-top: 180px;
    width:58vw;
    font-family: "Poppins", sans-serif;
    
  }
  .images1{
    display:flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top:12em;
    width: 72%;
    height: auto;
    margin-right: 0;
  }
  .opening{
    max-width: 90%;
  height: auto;
  }

.title1{
 
  font-size:3.5em;
  font-weight: 540;
  color: #000;
  line-height: 7.0625rem;
}
.matter1{

  font-size:2rem;
  color:black;
  font-weight: 500;
  font-family: 'Avenir', sans-serif;
  line-height: 1.6;
  text-transform:none;
  width: 70%;
}
.btn1{
  display:flex;
  background-color:#4EAF4E;
  color:white;
  border-radius: 15px;
  padding: 1.25rem 1.875rem;
  width: 30%;
font-size: 20px;
font-family:'Poppins',sans-serif;
font-weight: 500;
justify-content:center;
align-items: center;
border:none;
margin-bottom:9rem;
}
.btn1:hover{
  color:white;
  background-color: #FFCC4A;
}

/*.universities {
  position: relative;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  padding: 1em 0;
  margin-top: -95px;
  background-color:white;
}*/
.universities{
position: relative;
display: flex;
overflow: hidden;
white-space: nowrap;
padding: 0.5rem;
margin-top: 0.6rem;
background-color: white;
height:15.5rem;
bottom:9rem;
}
.universities img {
  height:5em;
  margin: 2.5em;
}
.universities img:last-child {
  margin-right: 0; 
}

@media (max-width: 1024px) {

  .overseas, .images1 {
    width: auto;
    margin-top: 1em;
  }

  .title1 {
    font-size: 1.5em; 
  }

  .matter1 {
    font-size: 1em; 
  }

  .btn1 {
    width: 50%; 
    font-family:'Poppins',sans-serif;
font-weight: 500;
  }

  .universities img {
    height: 80px; 
  }
  .booking:hover
  {background-color: #4EAF4E;
  color: white;}
  }




.container2{
  background-color: var(--clr-accent);
  width: 100vw;
  height: auto;
  display:inline-flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 1vh 5vw;

}
.ABOUT{
  display:inline-flex;
    flex-direction:column;
    gap:1.5rem;
    position:relative; 
    width:60vw;
    height:auto;
}
.title{
  font-size:4.75rem;
  font-weight: 600;
  color: #000;
  line-height: 7rem;
}
.matter2{
  font-size:2.25rem;
  color:#595566;
  font-weight: 400;
  font-family:'Lato',sans-serif;
  line-height:3rem;
  text-transform:none;
  width:90%;
  height:auto;
}
.btn2{
  display:flex;
  background-color:#4EAF4E;
  color:white;
  border-radius: 15px;
  padding: 1rem;
  display: inline-block;
  max-width:30%;
font-size: 20px;
font-family:'Poppins,sans-serif' ;
font-weight: 500;
justify-content:center;
align-items: center;
border:none;
}
.btn2:hover{
  color:white;
  background-color: #FFCC4A;
}
.btn2 a{
  text-decoration: none;
  color: white;
}
.btn2 a:hover{
  text-decoration: none;
  color: white;
}
.AU{
  position:relative;
  width:90%;
  height: auto;
  padding-right: 4rem;
}
.container3 {
  background-color: var(--clr-accent);
  width: 100vw;
  height: auto;
  font-family: "Poppins", sans-serif;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:1rem;
}
.card1 a {
  display: block; /* Explicitly set links to be block-level elements */
  width: 100%; /* Ensures that the link takes the full width of the card */
  height: 100%; /* Ensures that the link takes the full height of the image for clickable area */
  text-decoration: none; /* Optional: Removes underline from links */
}

.card1 img {
  width: 100%;
  height: auto; /* Updated to maintain aspect ratio */
  border-radius: 40px;
  display: block; /* Ensure images are block level to respond consistently within the anchor */
}
.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding-left: 6rem;

}

.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

}

.card1 {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  position: relative;
  border-radius: 40px;
}

.card1 img {
  width: 100%;
  object-fit: cover;
  height: inherit;
  border-radius: 40px;
}

.places {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: left;
  padding-left: 3rem !important;
  font-family: 'Cabin', sans-serif;
  font-weight:bold;
  padding: 0.5rem 0;
  mix-blend-mode: screen;
  font-size: 3rem;
}


.card-row .col-md-4 .card1:last-child {
  margin-bottom: 0;
}

@media (max-width:768px) {

  .card-row{
    display: flex;
    gap:1rem;
  }
  .booking
  {background-color: #4EAF4E;
  color: white;}

}
.card1 {
  position: relative;
}

.card-svg {
  position: absolute;
  z-index: -1;
  width: 100px;
}

.usa-svg {
  bottom: -4rem;
  left: -10rem;
}

.aus-svg{
  top: 3rem;
  right: -10rem;
}

.uk-svg {
  top: -4rem;
  left: 85%;
  transform: translateX(-50%);
}

.world-svg {
  bottom: -1rem;
  right: -12rem;
}

@media (max-width: 768px) {
  .usa-svg{
    bottom: -1rem;
  }

  .aus-svg{
    top: 2rem;
  }

  .uk-svg{
    top: 12rem;
  }

  .world-svg{
    right: -10rem;
  }
}

.container4{

    background: #F5F5F5;
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    padding-top: 20vh;
    padding-left: 6vw;
    padding-right: 7vw;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 3rem;
  padding-bottom: 20vh;

}

.test-card{
  
padding: 3rem ;
border-radius: 20px;
background: #EBEBEB;
display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
 height: 100%;
 gap: 1rem;
 transition: background-color 0.3s, color 0.3s !important;
}
.test-card:hover,.test-card h3:hover,.test-card p:hover,.test-card img:hover{
  background-color: #4EAF4E;
  color: white !important;
}

.test-card  h3 {
  color: #181818;
  font-size: 3rem;
  font-weight: 600;
}
.test-card p{
  color: #595959;
  font-size: 1.12rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}
.test-card img {
  margin-top: 2rem;
  width:10%;
  height: auto; 
}
.test-card:hover h3,
.test-card:hover p ,
.test-card:hover img
{
  color: white; 
}
.col-md-4 a:hover{
  text-decoration: none;
}
.container5{
  background: #FFF;
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    padding: 10vh 5vw;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;

}
.even-column{
  width: 100%;
  height: auto;
}
.even-column img {
  width: 95%;
  height: auto;
}
.container5 .title{
  margin-bottom:0rem;
}
.odd{
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.odd p {
  font-size: 2.5rem;
  color: #595566;
  line-height: 4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.odd li{
  font-size: 2.5rem;
  list-style-type: none;
  line-height: 5rem;
  color: #595566;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}
.odd li img{
  align-self: center;
  margin-right: 1rem;
}
.odd .banner-yel {
  color: #181818;
  background-color: #FBC336;
  border-radius: 3rem;
  padding: 0;
  font-size: 2rem;
 padding-right: 1rem;
padding-left: 1rem;
  text-align: center;
  display: inline-block; 
  max-width: 80%;
  margin-bottom: 0;
  font-weight: 400;
  font-family:'Lato', sans-serif;
  letter-spacing: 0.145rem;
}
.btn3{
  display:flex;
  background-color:#4EAF4E;
  color:white;
  border-radius: 15px;
  padding: 1rem;
  display: inline-block;
max-width:50%;
font-size: 20px;
font-weight: 500;
justify-content:center;
align-items: center;
border:none;
margin-top: 1rem;
font-family:'Poppins',sans-serif ;

}
.btn3:hover{
  background-color: #FFCC4A;
  color: white;
}
.container6 {
  background: #F5F5F5;
  width: 100vw;
  height: 90vh;
  font-family: "Poppins", sans-serif;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  overflow-x: auto; 
  gap: 1.875rem;
}
.container6 .title{
  font-family:'Poppins',sans-serif ;
  font-weight:600; 
}

.timeline {
  white-space: nowrap;
  overflow-x: scroll; 
}

.timeline ol {
  width: 100%; 
  padding: 230px 0;
  transition: all 1s;
  display: flex;
  gap: 0;
}

.timeline ol li {
  position: relative;
  flex: 0 0 auto; 
  list-style-type: none;
  width: 15%;
  height: 3px;
  background: linear-gradient(225deg, #4EAF4E 0%, #4EAF4E 100%);
  margin: 0;
  
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 0;
}

.timeline ol li:nth-child(odd)::after {
  content: "";
  position: absolute;
  bottom: -50%;  
  left: 50%;
  width: 3px;
  height: 800%; 
  transform: translate(-50%, 0);
  background: linear-gradient(225deg, #4EAF4E 0%, #4EAF4E 100%);
}

.timeline ol li:nth-child(even)::after {
  content: "";
  position: absolute;
  top: -40%; 
  left: 50%;
  width: 3px; 
  height: 800%; 
  transform: translate(-50%, 0);
  background: linear-gradient(225deg, #4EAF4E 0%, #4EAF4E 100%);
}

/*.timeline ol li:nth-child(even) div {
  position: absolute;
  left: calc(50% + 7px); 
  transform: translateX(-50%); 
  width: 100%;
  padding: 15px;
  font-size: 1.5rem;
  white-space: normal;
  color: black;
  background: white;
  border-radius: 9px;
  border: 1px solid #959595;
}*/
/*.timeline ol li:nth-child(odd) div {
  position: absolute;
  transform: translateX(-50%); 
  width: 100%;
  padding: 15px;
  font-size: 1.5rem;
  white-space: normal;
  color: black;
  background: white;
  border-radius: 9px;
  border: 1px solid #959595;
}*/
.timeline ol li:nth-child(even) div {
  position: absolute;
  left: calc(50% + 7px); 
  transform: translateX(-50%); 
  width: 25.75rem;
  height:15.75rem;
  padding: 13px;
  font-size: 1.3rem;
  white-space: normal;
  color: #718096;
  background: white;
  border-radius: 9px;
  border: 1px solid #959595;
  font-family:'Lato',sans-serif;
  font-weight: 400;
}
.timeline ol li:nth-child(odd) div {
  position: absolute;
  transform: translateX(-50%); 
  width: 25.75rem;
  height:15.75rem;
  padding: 13px;
  font-size: 1.3rem;
  white-space: normal;
  color: #718096;
  background: white;
  border-radius: 9px;
  border: 1px solid #959595;
  font-family:'Lato',sans-serif;
  font-weight: 400;
}
.timeline ol li:nth-child(odd) div {
  top: -35px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 35px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.timeline .time-card{
  padding: 3rem;
  display: block;
  gap:15;
  color: #718096;
  font-size: 1.25rem;
  line-height: 2.25rem;
  width: 100%;
  font-weight: 200;
 
}
.timeline .time-card .time-cardcontent1{
font-size: 1.75rem;
font-weight: 500;
color: #1A202C;
font-family: 'Poppins', sans-serif;
font-weight:600;

}
.timeline .time-card span{
  color: #FFBA40;
  font-family:'Inter',sans-serif;
  font-weight: bold;

  }
  .timeline .time-card .test-cardcontent2{
    color: var(--Gray-gray-600, #718096);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }


.timeline ol {
  animation: scrollTimeline 15s linear infinite; 
}

@keyframes scrollTimeline {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


  .container7 {
    background: #FAFFFB;
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 20vh 5vw;
  }
  .num-row {
    display: flex;
    justify-content: space-between;
    width: 80%; 
  }
  
  .num-heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    width:100%;

  }
  .plus-num{
    display: inline-flex;
    gap: 1rem;
  }


  .num-center{
    text-align: center;
  }
  .num-row {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
  }
  .card img{
    width: 60%;
    object-fit: cover;
    height: 100%;
    border-radius: 40px;
    position: relative;
    left: 4rem;
  }
  .custom-col {
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid rgba(196, 196, 196, 0.50);
  }
  
  .numbers {
    font-size: 3.5rem;
    color: #4EAF4E;
    font-weight: 600;
    margin-top: 2rem;
    background-color: #FAFFFB;
    font-family: 'Avenir', sans-serif;
    font-weight: 900;
  }





.carousel {
  background: rgba(78, 175, 78, 0.10);
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 5vw;
    padding-bottom: 4vh;
    padding-top: 5vh;
    gap:3rem;
}
.slide{
  display: contents;
}

.carousel-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}
.align-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.back_arrow{
  background: transparent;
  border: none;
  padding: 2rem;
  border-radius: 100px;
border: 1px solid #000;
width: 7rem;
height: 7rem;
}
.back_arrow:hover{
  background: #4EAF4E;
  border:none;
}
.front_arrow{
  background: transparent;
  border: none;
  padding: 2rem;
  border-radius: 100px;
  border: 1px solid #000;
  width: 7rem;
  height: 7rem;
}
.front_arrow:hover{
  background: #4EAF4E;
  border:none;
}

.carousel .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.carousel .col-md-4{
  flex: 1;
  min-width: 0;
}
.item{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.testimonial-card {
  padding: 4rem;
  border-radius: 20px;
  background: white;
  display: flex;
  flex-direction: column;
width: 100%;
  justify-content: center;
  align-items: baseline;
  vertical-align: middle;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.5rem;
  flex-grow: 1;
height: 35vh;
}
.testimonial-card p {
  color: black;
  font-size: 1.6rem;
  font-weight: 400;
  font-family:'Lato',sans-serif;
  text-align: left;
  vertical-align: middle;
}

.testimonial-card .testimonial-author {
  display: flex;
  align-items: center;
}

.testimonial-card .testimonial-author img {
  margin-right: 1rem; 
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonial-card .testimonial-author p {
  color: black;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: 'Lato',sans-serif;
}
.author-info strong{
  font-weight: 600;
  font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
  color:black;
}
 

.container8{
  background: #FFF;
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 15vh;
    padding-bottom: 4vh;
}

.faq-content{
  border-radius: 30px;
background: #F5F5F5;
margin-bottom: 0;
padding: 10vh 5vw;
display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; 
  height: auto;

}

.align-heading{
text-align: center;
align-self: center !important;

}

.banner-green {
  background: #4EAF4E;
 color: #fff !important;
  border-radius: 3rem;
  padding: 0;
  font-size: 2rem;
 padding-right: 2.5rem;
padding-left: 2.5rem;
  text-align: center;
  display: inline-block; 
  max-width: 80%;
  margin-bottom: 0;
  font-weight: 300;
}

#accordian .faq-item .one-line{
  display: inline-flex;
  flex-direction: row;
}


#accordion .fa-plus {
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  color:#4EAF4E;
}

#accordion a[aria-expanded=true] .fa-plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.faq-item {
  border-bottom: 1px solid  #DADADA;
  margin-bottom: 1.5rem;
}
.faq-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.faq-item h2 {
  color: #181818;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 116%; 
}

.faq-item p {
  color: #595566;
font-family: Lato;
font-size: 1.75rem;
font-style: normal;
font-weight: 400;
line-height: 147.5%; 
padding: 1rem;
padding-left: 0rem;
}

.help-section {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding-bottom: 4vh;
}

.containerform {
  background-image: url('./assets/bghelp.svg');
  background-size: cover;
  background-position: center;
  padding: 6rem; 
  border-radius: 20px;
  display: flex;
  align-items: center; 
  width: 1300px;
  height: 300px;
  margin-left:1rem;
  margin-right:1rem;
}

.right-columns {
  text-align: left;
  color: #fff;
  flex: 0 0 40%;
  max-width: 40%;
}

.right-columns h2 {
  font-size: 4rem;
  font-family:'Poppins',sans-serif ;
  font-weight: 600;
}

.right-columns p {
  font-size: 1.75rem;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
}
.right-columns strong{
  font-size: 1.75rem;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
}

.help-form {
  flex: 0 0 60%;
  max-width: 60%;
  display: block; 
}

.form-row {
  margin-top: 25px;
}
.form-control {
  border-radius: 60px !important; 
  padding: 25px 35px !important;
  margin-bottom: 10px; 
  border: 1px solid #ddd; 
}

.btn-primary {
  background-color: #FBC336 !important; 
  border: solid 1px #FBC336 !important;
  border-radius: 60px !important;
  padding:15px 25px !important;
  color: #181818 !important;
  font-size: 1.5rem;
  cursor: pointer;
}
#email{
  margin-bottom: 21px;
}
#SUBMIT{
  font-size: 1.5rem;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
}
#SUBMI:hover{
  background-color: #4EAF4E;
  color: white;
}
.btn-block:hover{
  background-color: #4EAF4E !important;
  color: white !important;
  border:none !important;
}

@media (max-width: 768px) {
  .header-content {
      flex-direction: column;
      align-items: center; 
      padding: 1vh 2vw; 
  }


  .overseas {
      width: 100%; 
      align-items: center; 
      gap:0.6rem;
  }

  
  .title1 {
      font-size: 2.125rem; 
      text-align: center; 
      padding-top: 100px;
  }

  .matter1 {
      font-size: 1em; 
      text-align: center; 
      width: 90%;
  }

  
  .btn1 {
      width: 80%; 
      font-size: 1em; 
      margin: 0 auto;
      display: block; 
      font-family:'Poppins',sans-serif;
font-weight: 500;
  }

 
  .images1 {
      width: 100%; 
      justify-content: center; 
  }

  .opening {
      max-width: 100%;
      height: auto; 
  }

  .universities {
    position: relative;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 1em 0;
    margin-top: 0.6rem;
    background-color: white;
    height: 10.5rem;
    top: -2rem;
  }

  .universities img {
      height: 3em;
      margin: 1em;
  }
}


@media (max-width: 768px) {
  
  .container2 {
      display: flex;
      flex-direction: column;
      align-items: center; 
  }

 
  .ABOUT {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    text-align: center; 
}

  
  .title {
      font-size: 1.5em; 
      margin-bottom: 1em; 
  }


  .matter2 {
    font-size: 2.25rem; 
    padding: 0 1em; 
    text-align: center;
    font-family: 'Lato', sans-serif;
}

  
  .AU {
      width: 100%;
      height: auto; 
      order: 3;
      margin-top: 1em; 
  }


  .btn2 {
    width: 80%;
    font-size: 1em; 
    margin-top: 1em; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family:'Poppins,sans-serif' ;
    font-weight: 500;
}
.btn2 a{
  text-decoration: none;
  color: white;
}
.btn2 a:hover{
  text-decoration: none;
  color: white;
}
}

@media (max-width: 768px) {
  .container4 {
    padding-top:5vh ;
    padding-bottom:5vh;
    justify-content: center;
   gap:0;
    flex-direction: column;
  }
  
  .row {
    flex-direction: column;/* Adjust the gap between cards for smaller screens */
  }

  .col-md-4 {
    max-width: 100%; /* Set the maximum width to 100% for single-column layout */
  }
.col-md-4 a:hover{
  text-decoration: none;
}
  .test-card h3 {
    font-size: 2rem;
    
  }
  
  .test-card p {
    
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
  }

  .test-card{
  gap:0.5rem;
  margin-top: 1.5rem;
    }
  
  .test-card img {
    margin-top: 1rem;
    width: 8%;
    height: auto;
  }
  
}

@media (max-width: 768px) {
  .container5 {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .even-column img {
    width: 100%;
  }

  .odd {
    text-align: left;
    gap: 0.875rem;
  }

  .btn3 {
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  .btn3:hover{
    background-color: #FFCC4A;
    color: white;
  }
}

@media (max-width: 1024px) {
  .timeline ol {
    padding: 230px 0; /* Adjusted padding for smaller screens */
  }

  .timeline ol li {
    width: 30%; /* Adjust the width for smaller screens */
    margin-bottom: 30px; /* Add spacing between cards */
  }
}



@media (max-width: 768px) {
  .timeline ol {
    padding: 200px 0; /* Adjusted padding for smaller screens */
  }

  .timeline ol li {
    width: 60%; /* Adjust the width for smaller screens */
    margin-bottom: 30px; /* Add spacing between cards */
  }
  .timeline ol li:last-child {
    width: 280px;
  
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: 0;
  }
}




@media (max-width: 768px) {
  .container7 {
    gap: 2rem; /* Further reduce the gap for smaller screens */
    padding: 6vh 5vw; /* Further adjust padding for smaller screens */
  }

  .num-row {
    flex-direction: column; /* Change to a single column for screens up to 768px */
    align-items: center; 
    gap:1rem;/* Center items in the column */
  }

  .custom-col {
    border-right: none; /* Remove border-right for smaller screens */
    padding: 0 2rem;
    border-bottom: 1px solid rgba(196, 196, 196, 0.50); /* Adjust padding for smaller screens */
  }

  .num-heading {
    font-size: 1.2rem; /* Reduce font size for smaller screens */
    font-weight: 500;
    color: #000;
    width: 100%;
  }
  
  .numbers {
    font-size: 2.5rem; /* Reduce font size for smaller screens */
    color: #4EAF4E;
    font-weight: 600;
    margin-top: 1rem;
    font-family: 'Avenir',sans-serif;
    font-weight: 900; /* Adjust margin for smaller screens */
  }
  .card img{
    border-radius: 4px;
    left: 0rem;
  }
}



@media (max-width: 768px) {
  .carousel {
    padding: 5vh 2vw; 
    gap:3rem;
  }

  .title{
    line-height: normal;
    font-size:3.125rem;
  }

  .carousel-inner {
    flex-direction: column; 
    align-items: center;
  }

  .carousel-cards {
    width: 100%;
  }

  .carousel-control {
    display: none; 
  }
}

@media (max-width: 768px) {
  .container8 {
    padding-bottom: 2vh;
  }

  .banner-green {
    background: #4EAF4E;
    color: #fff !important;
    border-radius: 3rem;
    padding: 0;
    font-size: 2rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    text-align: center;
    display: inline-block;
    max-width: 80%;
    margin-bottom: 0;
    font-weight: 300;
    position: relative;
    left: 8rem;
}
  #maincontent,
  #accordion {
    width: 100%; 
    box-sizing: border-box; 
    margin-top: 40px;
    height: auto;
    padding-top: 0;
    margin-top: 0;
  }

  .faq-item {
    margin-bottom: 1em; 
  }
  .faq-item p{
    padding-left:0.5rem;
  }
  .faq-item a {
    padding: 0.5em; 
    display: block; /* Ensures it takes the full width */
  }

  .faq-item .collapse {
    margin-top: 0.5em; /* Space above collapsed content */
  }
}

@media (max-width: 768px) {
  .help-section{
    padding-bottom: 2vh;
  }
  
  .containerform {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 1rem;
  }

  .right-columns {
    flex: 0 0 100%; /* Use full width for small screens */
    max-width: 100%;
    align-items: center;
    justify-content: center; 
    text-align: center;/* Use full width for small screens */
  }


  .help-form {
    flex: 0 0 100%; /* Use full width for small screens */
    max-width: 100%; /* Use full width for small screens */
  }
  #email{
    width:100%;
  }

}




.footer-bg{
  background-color: #000;
  padding:6rem;
}

.link-head {
  color: #fff;
  font-weight: 600;
  font-size:2rem;
  font-family: 'Poppins', sans-serif;
 }
 
 .link-list li{
   margin-top:1rem;
   font-size: 1.8rem;
   font-family: 'Lato', sans-serif;
   font-weight: 500;
 }
 
 .link-list a{
   color: #fff;
   margin-top:2rem;
 }
 .link-list li a:hover {
   color: #4EAF4E;
   text-decoration: none; /* Set the green color on hover */
 }
 
 .agency-text{
   color:#fff;
   font-size: 1.5rem;
   font-family: 'Lato', sans-serif;
   font-weight: 400;
 }
.copy-text{
  color:#fff;
  font-size: 1.5rem;
  margin-top: 10px;
}

.agency-info{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  gap:25%;

}

.agency-top{
  width: 80%;
  height:auto;
  margin-bottom: 20%;
}

.agency-down{
  display: flex;
  align-items:left;
  justify-content: space-between;
  flex-direction: column;

}

.nt-logo{
  width: 100%;
  height:auto;
}

.media-layout{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:50%;
}

.media-icons{
  padding:10px;
  background-color: #333333;
  color: #fff;
  border-radius: 50px;
}
.footer-row{

  padding: 1vh 2vw;
  display: flex;
    align-items: left;
    
}

@media (min-width: 770px) and (max-width: 1200px){
  .footer-row {
    flex-direction: column;
    align-items: flex-start; 
  }
}

@media (max-width:768px) {
  .footer-row {
    flex-direction: column; 
  }

  .agency-top {
    width: 50% !important; 
    height: auto;
    margin-bottom: 20%;
  }
  .agency-down {
    width: 50% !important; 
    height: auto;
  }

  .footer-bg {
    padding: 2rem;
  }

  .link-head {
    font-size: 1.5rem;
  }

  .link-list li {
    font-size: 1.2rem;
  }

  .agency-text,
  .copy-text {
    font-size: 1rem;
  }

  .agency-info {
    gap: 10px;
  }

  .agency-top {
    width: 100%;
    margin-bottom: 10%;
  }

  .media-layout {
    width: 100%;
  }

  .media-icons {
    padding: 8px;
  }
  
}
@media (min-width:1025px) and (max-width:1338px){
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }
  .primary-header {
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 1vh 5vw;
    z-index: 10000;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.75rem;
    font-weight: 500;
    background-color: white;
  }
  
  .primary-navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar-link{
    display: flex;
    align-items: center;
  }
  .primary-header .primary-navigation li a {
    color: #000;
    background-color: white;
    padding: 0.625rem 1.5rem;
    font-size:1.3rem;
    margin-top:0.5rem;
    font-family: 'Poppins', sans-serif;
  font-weight: 500;
  }
  .destinations:hover{
     background-color: #4EAF4E;
      color: white;
  }
  
  .primary-header .primary-navigation a:hover {
    color: white;
    background-color: #4EAF4E;
    border-radius: 30px;
    text-decoration: none;
  }
  
  .logo {
    width: 8.285859375rem;
    height: 7.23515625rem;
  }
  
  .primary-header .primary-navigation .destinations img {
    margin-left: 0.625rem;
  }
  .primary-header .primary-navigation .destinations img :hover{
    margin-left: 0.625rem;
    background-color: #4EAF4E;
    color: white;

  }
  
  .booking {
    padding: 0.75rem;
    border: 2.5px solid #7FBA3A;
    border-radius: 0.75rem;
    margin-left: 3.5rem;
    background-color: #fff;
    font-size: 1.1rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: center;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    justify-content: center;
    padding-top: 1rem;
  }
  /* Base styles for the hamburger icon */
  .primary-header .mobile-nav-toggle {
    padding: 0;
    background: none;
    border: none;
    display: none;
    position: absolute;
    right: 5vw;
    cursor: pointer;
    z-index: 10001;
  }
  .booking:hover
  {background-color: #4EAF4E;
  color: white;}
}

@media (min-width:769px) and (max-width:1023px){
  .primary-header .mobile-nav-toggle {
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }

  .primary-navigation .nav-list {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    background: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 10000;
    padding:16rem; 
    margin: 0; 
  }

  .primary-navigation .nav-list[data-visible="true"] {
    display: flex;
  }

  .primary-navigation .nav-list li {
    width: 50%; 
  }

  .primary-navigation .nav-list li a {
    display: block;
    text-align: left;
    padding: 2rem; 
    border-bottom: 1px solid #ccc; 
    border-width: 50% !important;
  }

  .primary-navigation .nav-list li:last-child a {
    border-bottom: none;
  }
  .dropdown {
    position: relative;
   
  }

  .dropdown-content {
    position: absolute;
    background-color: #ffffff; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    margin-left: 50%;
    padding: 1rem;
    top: 100%; 
    left: 0;
    z-index: 10;
    width: auto; 
  }

  
  .primary-header {
    padding: 1vh 2vw; 
  }
  
  .primary-header .logo {
    width: auto;
    height: auto;
  }
  
  .booking {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
  }
  .booking:hover
{background-color: #4EAF4E;
color: white;}
}

@media (max-width: 768px) {
  .primary-header .mobile-nav-toggle {
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }

  .primary-navigation .nav-list {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    background: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 10000;
    padding:16rem; 
    margin: 0; 
  }

  .primary-navigation .nav-list[data-visible="true"] {
    display: flex;
  }

  .primary-navigation .nav-list li {
    width: 50%; 
  }

  .primary-navigation .nav-list li a {
    display: block;
    text-align: left;
    padding: 2rem; 
    border-bottom: 1px solid #ccc; 
    border-width: 50% !important;
  }

  .primary-navigation .nav-list li:last-child a {
    border-bottom: none;
  }
  .dropdown {
    position: relative;
   
  }

  .dropdown-content {
    position: absolute;
    background-color: #ffffff; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    margin-left: 50%;
    padding: 1rem;
    top: 100%; 
    left: 0;
    z-index: 10;
    width: auto; 
  }

  
  .primary-header {
    padding: 1vh 2vw; 
  }
  
  .primary-header .logo {
    width: auto;
    height: auto;
  }
  
  .booking {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
  }
  .booking:hover
{background-color: #4EAF4E;
color: white;}
}
@media (max-width:560px){
  .primary-navigation .nav-list {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    background: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 10000;
    padding-top:16rem; 
    padding-bottom: 16rem;
    padding-left:1rem;
    padding-right: 1rem;
    margin: 0; 
  }
  .booking:hover
{background-color: #4EAF4E;
color: white;}

}
@media (min-width:771px) and (max-width:992px){
  /*.container3 {
    background-color: var(--clr-accent);
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    padding: 1vh 11vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }*/
  
  .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; 
    gap:4rem;
  }
  
  .col-md-4 {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    gap:4rem;
  }
  
  /*.card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    position: relative; 
    border-radius: 40px;  
    background-color: none;
    right: 3rem;
  }
  
  .card1 img {
    width: 100%;
    object-fit: cover; 
    height: 100%; 
    border-radius: 40px;
  }
  
  .places {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    color: #fff;
    text-align: left;
    padding-left: 6rem !important;
    padding: 0.5rem 0; 
    mix-blend-mode: screen; 
    font-size: 2.5rem;
    font-family: 'Cabin', sans-serif;
    font-weight:bold;
  }
  
  
  .card-row .col-md-4 .card1:last-child {
    margin-bottom: 0;
  }*/
  .usa-svg{
    top: 35rem;
  }

  .aus-svg{
    top: 2rem;
  }

  .uk-svg{
    top: 17rem;
  }

  .world-svg{
    right: -11rem;
    top:18rem;
  }
  .card1 img {
    margin-top: 2rem;
}
  .container4 {
    background: #F5F5F5;
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    padding-top: 20vh;
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 20vh;
  }
  
  .test-card {
    width: 300px; /* Set a fixed width for the cards */
    min-height: 250px; /* Set a minimum height for the cards */
    padding: 3rem;
    border-radius: 20px;
    background: #EBEBEB;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 1rem;
    transition: background-color 0.3s, color 0.3s;
    margin:1rem;
  }
  
  .test-card:hover {
    background-color: #4eaf4e;
    color: white;
  }
  
  .test-card h3 {
    color: #181818;
    font-size: 3rem;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .test-card p {
    color: #595959;
    font-size: 1.12rem;
    font-weight: 400;
  }
  
  .test-card img {
    margin-top: 2rem;
    width: 10%;
    height: auto;
  }
  #email{
    width:100%;
  }
  
}
@media (min-width:768px) and (max-width:1200px){
  .overseas{
    display:inline-flex;
    flex-direction:column;
    gap:0.6rem;
    margin-top: 10rem;
    width:58vw;
    font-family: "Poppins", sans-serif;
    
  }
  .images1{
    display:flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top:2em;
    width: 72%;
    height: auto;
    margin-right: 0;
    margin-bottom: 7rem;
  }
  .title1{
 
    font-size:3.5em;
    font-weight: 540;
    color: #000;
    line-height: 6.0625rem;
  }
  .matter1{
  
    font-size:1.55rem;
  color:black;
  font-weight: 500;
  font-family: 'Avenir', sans-serif;
  line-height: 1.6;
  text-transform:none;
  width: 70%;
  }
  .btn1{
    display:flex;
    background-color:#4EAF4E;
    color:white;
    border-radius: 15px;
    padding: 1.25rem 1.875rem;
    width: 30%;
  font-size: 1.2rem;
  font-weight: 375;
  justify-content:center;
  align-items: center;
  border:none;
  font-family:'Poppins',sans-serif;
font-weight: 500;
margin-bottom: 2rem;
  }
  .btn1:hover{
      color:white;
      background-color: #FFCC4A;
    }
    .opening{
      width: 100%;
      height: auto;
      position: relative;
    top: 5rem;
    }
  .universities {
    position: relative;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 1em 0;
    margin-top: 0.6rem;
    background-color: white;
    height: 10.5rem;
    top: -3rem;
  }
  
  .universities img {
    height: 3em;
    margin: 1.5em;
  }
  .universities img:last-child {
    margin-right: 0; /* Remove right margin for the last image */
  }

  .container2{
    background-color: var(--clr-accent);
    width: 100vw;
    height: auto;
    display:inline-flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 1vh 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .ABOUT{
    display:inline-flex;
      flex-direction:column;
      gap:1.5rem;
      position:relative; 
      width:60vw;
      height:auto;
  }
  .title{
    font-size:4.75rem;
    font-weight: 600;
    color: #000;
    line-height: 7rem;
    position: relative;
    text-align: center;
  }


  .container5 .title {
    text-align: left;
  }
  .carousel .title {
    text-align: left;
  }
  .matter2{
    font-size:2.25rem;
    color:#595566;
    font-weight: 400;
    line-height:3rem;
    text-transform:none;
    font-family:'Lato',sans-serif;
    width:90%;
    height:auto;
    position: relative;
    left: 6rem;
    bottom: 2rem;
    text-align: left;
  }
  .btn2{
    display:flex;
    background-color:#4EAF4E;
    color:white;
    border-radius: 15px;
    padding: 1rem;
    display: inline-block;
    font-family:'Poppins,sans-serif' ;
    font-weight: 500;
    max-width:30%;
  font-size: 20px;
  justify-content:center;
  align-items: center;
  border:none;
  position: relative;
  left: 23rem;
  bottom: 3rem;
  }
  .btn2:hover{
    color:white;
    background-color: #FFCC4A;
  }
  .btn2 a{
    text-decoration: none;
    color: white;
  }
  .btn2 a:hover{
    text-decoration: none;
    color: white;
  }
  .AU{
    position:relative;
    width:90%;
    height: auto;
    padding-right: 4rem;
  }
  /*.container3 {
    background-color: var(--clr-accent);
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    padding: 7vh 11vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; 
  
  }
  
  .col-md-4 {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
  
  }
  
  .card1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    position: relative; 
    border-radius: 40px;  
    background-color: none;
  }
  
  .card1 img{
    width: 100%;
    object-fit: cover; 
    height: 100%; 
    border-radius: 40px;
  }
  
  .places {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    color: #fff;
    text-align: left;
    padding-left: 2rem !important;
    padding: 0.5rem 0; 
    mix-blend-mode: screen; 
    font-size: 2.5rem;
    font-family: 'Cabin', sans-serif;
    font-weight:bold;
  }
  .card-row .col-md-4 .card1:last-child {
    margin-bottom: 0;
  }*/
  .container4 {
    background: #F5F5F5;
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    padding-top: 20vh;
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 20vh;
  }
  .col-md-4 a:hover{
    text-decoration: none;
  }
  .test-card {
    width: 300px; 
    min-height: 250px; 
    padding: 3rem;
    border-radius: 20px;
    background: #EBEBEB;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 1rem;
    transition: background-color 0.3s, color 0.3s;
    margin:2rem;
  }
  
  .test-card:hover {
    background-color: #4eaf4e;
    color: white;
  }
  
  .test-card h3 {
    color: #181818;
    font-size: 3rem;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .test-card p {
    color: #595959;
    font-size: 1.12rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
  }
  
  .test-card img {
    margin-top: 2rem;
    width: 10%;
    height: auto;
  }
  .help-section{
    padding-left: 2vw;
    padding-right: 2vw;

  }
  .card img {
  
    left: 0rem;
}
.btn3{
  display:flex;
  background-color:#4EAF4E;
  color:white;
  border-radius: 15px;
  padding: 1rem;
  display: inline-block;
max-width:50%;
font-size: 1.5rem;
font-weight: 500;
justify-content:center;
align-items: center;
border:none;
margin-top: 1rem;
font-family:'Poppins',sans-serif ;
}
.btn3:hover{
  background-color: #FFCC4A;
  color: white;
}
.container6 .title{
  font-family:'Poppins',sans-serif ;
  font-weight:600; 
}
}
@media (min-width:1201px) and (max-width:1270px){
  .btn3{
    display:flex;
    background-color:#4EAF4E;
    color:white;
    border-radius: 15px;
    padding: 1rem;
    display: inline-block;
  max-width:50%;
  font-size: 1.5rem;
  font-weight: 500;
  justify-content:center;
  align-items: center;
  border:none;
  margin-top: 1rem;
  font-family:'Poppins',sans-serif ;
  }
  .btn3:hover{
    background-color: #FFCC4A;
    color: white;
  }
}

@media (min-width:770px) and (max-width:1400px){
  #maincontent{
    width:90%;
  }
}
@media (min-width:771px) and (max-width:879px){
  .btn1{
    display:flex;
    background-color:#4EAF4E;
    color:white;
    border-radius: 15px;
    padding: 1.25rem 1.875rem;
    width: 30%;
  font-size: 1.1rem;
  font-weight: 375;
  justify-content:center;
  align-items: center;
  border:none;
  font-family:'Poppins',sans-serif;
font-weight: 500;
margin-bottom: 2rem;
  }
  .btn1:hover{
    color:white;
    background-color: #FFCC4A;
  }
  .opening{
    width: 100%;
    height: auto;
    position: relative;
  top: 5rem;
  }

    .container7 {
      background: #fafffb;
      width: 100vw;
      height: auto;
      font-family: "Poppins", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6rem;
      padding: 20vh 5vw;
    }
    
    .num-row {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }
    
    .num-heading {
      font-size: 1.5rem;
      font-weight: 500;
      color: #000;
      width: 100%;
    }
    
    .num-center {
      text-align: center;
    }
    
    .card img {
      width: 30%;
      object-fit: fill;
      height: 100%;
      border-radius: 4px;
      position: unset;
    }
    
    .custom-col {
      flex: 1;
      box-sizing: border-box;
      text-align: center;
      border-right: 1px solid rgba(196, 196, 196, 0.50);
    }
    
    .numbers {
      font-size: 3.5rem;
      color: #4eaf4e;
      font-weight: 600;
      margin-top: 2rem;
      background-color: #fafffb;
      font-family: 'Avenir',sans-serif;
    font-weight: 900;
    }
   .num-row {
        width: 100%; /* Adjust as needed */
      }
}

@media (min-width:880px){
  .container7 {
    background: #FAFFFB;
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 20vh 5vw;
  }
  .num-row {
    display: flex;
    justify-content: space-between;
    width: 80%; 
  }
  
  .num-heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    width:100%;

  }
  .num-center{
    text-align: center;
  }
  .num-row {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
  }
  .card img{
    width: 30%;
    object-fit: fill;
    height: 100%;
    border-radius: 4px;
    position: unset;
  }
  .custom-col {
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid rgba(196, 196, 196, 0.50);
  }
  
  .numbers {
    font-size: 3.5rem;
    color: #4EAF4E;
    font-weight: 600;
    margin-top: 2rem;
    background-color: #FAFFFB;
    font-family: 'Avenir',sans-serif;
    font-weight: 900;
  }
}
@media (min-width:1201px){
  .container3 {
    background-color: var(--clr-accent);
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    padding: 7vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; 
    padding-left: 6rem;
  
  }
  
  .col-md-4 {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
  
  }
  
  .card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    position: relative; 
    border-radius: 40px;  
    background-color: none;
    right: 3rem;
  }
  
  .card1 img {
    object-fit: cover;
    border-radius: 40px;
  }
  
  .places {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    color: #fff;
    text-align: left;
    padding-left: 6rem !important;
    padding: 0.5rem 0; 
    mix-blend-mode: screen; 
    font-size: 2.5rem;
    font-family: 'Cabin', sans-serif;
    font-weight:bold;
  }
  
  
  .card-row .col-md-4 .card1:last-child {
    margin-bottom: 0;
  }
}


@media (min-width: 769px) and (max-width:925px){
  .testimonial-card {
    padding: 4rem;
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
    height: 65vh;
    justify-content: center;
    align-items: baseline;
    vertical-align: middle;
 
  }
}

@media (min-width: 900px) and (max-width:1025px){
  .testimonial-card {
    padding: 4rem;
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    vertical-align: middle;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
    height: 60vh;
 
  }
}



@media (min-width: 1024px) and (max-width:1350px){
  .testimonial-card {
    padding: 4rem;
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    vertical-align: middle;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
    height: 50vh;
 
  }
}


@media (min-width:1300px) and (max-width:1450px){
  .testimonial-card {
    padding: 4rem;
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    vertical-align: middle;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    margin-bottom: 0.5rem;
    height: 30.575rem;
    width: 39.1875rem;
  }
}
@media (min-width:1201px) and (max-width:1350px){
  .btn2{
    display:flex;
    background-color:#4EAF4E;
    color:white;
    border-radius: 15px;
    padding: 1.2rem;
    display: inline-block;
    max-width:30%;
  font-size: 20px;
  font-family:'Poppins,sans-serif' ;
  font-weight: 500;
  justify-content:center;
  align-items: center;
  border:none;
  }
  .btn2 a{
    text-decoration: none;
    font-size:1.2rem;
    color: white;
  }
  .btn2 a:hover{
    text-decoration: none;
    font-size:1.2rem;
    color: white;
  }
  .btn2:hover{
    color:white;
    background-color: #FFCC4A;
  }
}