body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;

}
.container1{
    width:100vw;
    height:492px;
    background-color:rgba(251, 195, 54, 0.11);
    display:flex;
    justify-content:center;
    align-items:center;
}
.container1 img{
    width:944px;
    height:351px;
    position: relative;
    top:75px;
}

.background{
    width: 574px;
    height: 282px;
    background-color:white;
    position: relative;
    left: 450px;
    bottom: 141px;
  border-radius: 129px;
}

.usa{
    width: 547px;
    height: 262px;
    position: relative;
    right: 115px;
    bottom: 136px;
}
.stusa{
    color: #FFF;
text-align: center;
font-family: "Poppins", sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
bottom: 280px;
}
.container2{
    width:100vw;
    height:1646px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.container3{
    width:64vw;
    height:963px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position: relative;
    bottom: 220px;
}
.heading1{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
left: 40px;
}
.content1{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
width:743px;
height:168px;
position: relative;
top: 20px;
left: 40px;
}
.content{
    width:944px;
    height:373px;
    position: relative;
    top: 29px;
}

.heading2{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 116%;
left: 40px;
position: relative;
top: 39px;
}
.content2{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
width:763px;
height:168px;
position: relative;
top: 46px;
left: 40px;
}
.container4{
    width:59vw;
    height:423.92px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    position: relative;
    bottom: 70px;
    left: 5px;
}
.heading3{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 116%;
}
.tick{
    width:19px;
    height:19px;
}
ul{
    width:558.69px;
    height:214.43px;
    display:flex;
    flex-direction:column;
    list-style: none;
    position: relative;
    right: 40px;
    top: 15px;
}
.fact1{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin: 0px;
}
.fact2{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin:0px;
}
.fact3{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin:0px;
}
.fact4{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin:0px;
}
.fact5{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin: 0px;
}
.fact6{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin:0px;
}
.lapboy{
    width: 515px;
    height: 773px;
    position: relative; 
    top: 30px;
    right: 165px;
}
.consultation{
  width:1440px;
  height:410px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #FFFFFF;
  flex-direction: column;
}
.consultation img{
  width: 1200px;
  height: 252px;
  position: relative;
  top: 134px;
}
.consultation .caption{
  color: white;
  font-family: "Lato", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
position: relative;
bottom: 44px;
right: 139px;
}
.consultation h2{
  color: white;
  font-family: "Poppins", sans-serif;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
bottom: 40px;
right: 125px;
}
.consultation strong{
  font-family: "Lato", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 147.5%;
color:#FFFFFF;
}
.consultation button{
  width: 152px;
  height: 62px;
  background-color: #FBC336;
  border-radius:  42px;
  border:none;
  color:black;
  font-family: Lato;
  font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 160%; 
text-align: center;
position: relative;
left: 208px;
bottom: 110px;
}
.consultation button:hover{
  background-color: #4EAF4E;
  color: white;
  transition: 0.3s;
  width:162px;
  height:72px;
  font-size: 25px;
  font-weight: 500;
}
@media (min-width:1025px) and (max-width:1126px){
  body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;

}
.container1{
    width:100vw;
    height:492px;
    background-color:rgba(251, 195, 54, 0.11);
    display:flex;
    justify-content:center;
    align-items:center;
}
.container1 img{
    width:944px;
    height:351px;
    position: relative;
    top:75px;
}

.background{
    width: 574px;
    height: 282px;
    background-color:white;
    position: relative;
    left: 450px;
    bottom: 141px;
  border-radius: 129px;
}

.usa{
    width: 547px;
    height: 262px;
    position: relative;
    right: 115px;
    bottom: 136px;
}
.stusa{
    color: #FFF;
text-align: center;
font-family: "Poppins", sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
bottom: 280px;
}
.container2{
    width:100vw;
    height:1646px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.container3{
    width:100vw;
    height:963px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position: relative;
    bottom: 220px;
}
.heading1{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
left: 40px;
}
.content1{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
width:743px;
height:168px;
position: relative;
top: 20px;
left: 40px;
}
.content{
    width:944px;
    height:373px;
    position: relative;
    top: 29px;
}

.heading2{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 116%;
left: 40px;
position: relative;
top: 39px;
}
.content2{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
width:763px;
height:168px;
position: relative;
top: 46px;
left: 40px;
}
.container4{
    width:880px;
    height:423.92px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    position: relative;
    bottom: 70px;
    left: 5px;
}
.heading3{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 116%;
}
.tick{
    width:19px;
    height:19px;
}
ul{
    width:558.69px;
    height:214.43px;
    display:flex;
    flex-direction:column;
    list-style: none;
    position: relative;
    right: 40px;
    top: 15px;
}
.fact1{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin: 0px;
}
.fact2{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin:0px;
}
.fact3{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin:0px;
}
.fact4{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin:0px;
}
.fact5{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin: 0px;
}
.fact6{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 23px;
left: 30px;
margin:0px;
}
.lapboy{
    width: 515px;
    height: 773px;
    position: relative; 
    top: 30px;
    right: 165px;
}
.consultation{
  width:1440px;
  height:410px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #FFFFFF;
  flex-direction: column;
}
.consultation img{
  width: 1200px;
  height: 252px;
  position: relative;
  top: 134px;
}
.consultation .caption{
  color: white;
  font-family: "Lato", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
position: relative;
bottom: 44px;
right: 139px;
}
.consultation h2{
  color: white;
  font-family: "Poppins", sans-serif;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
bottom: 40px;
right: 125px;
}
.consultation strong{
  font-family: "Lato", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 147.5%;
color:#FFFFFF;
}
.consultation button{
  width: 152px;
  height: 62px;
  background-color: #FBC336;
  border-radius:  42px;
  border:none;
  color:black;
  font-family: Lato;
  font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 160%; 
text-align: center;
position: relative;
left: 208px;
bottom: 110px;
}
.consultation button:hover{
  background-color: #4EAF4E;
  color: white;
  transition: 0.3s;
  width:162px;
  height:72px;
  font-size: 25px;
  font-weight: 500;
}
}
@media (max-width:1024px){
  .container1{
    width:100vw;
    height:30.75rem;
    background-color:rgba(251, 195, 54, 0.11);
    display:flex;
    justify-content:center;
    align-items:center;
}
.container1 img{
    width:59rem;
    height:21.938rem;
    position: relative;
    top:4.688rem;
}

.background{
    width: 35.875rem;
    height: 17.625rem;
    background-color:white;
    position: relative;
    left: 28.125rem;
    bottom: 8.813rem;
  border-radius: 8.063rem;
}

.usa{
    width: 34.188rem;
    height: 16.375rem;
    position: relative;
    right: 7.188rem;
    bottom: 8.5rem;
}
.stusa{
    color: #FFF;
text-align: center;
font-family: "Poppins", sans-serif;
font-size: 3.125rem;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
bottom: 17.5rem;
}
.container2{
    width:100vw;
    height:102.875rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.container3{
    width:59rem;
    height:60.188rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position: relative;
    bottom: 13.75rem;
}
.heading1{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 1.875rem;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
left: 2.5rem;
}
.content1{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
width:46.438rem;
height:10.5rem;
position: relative;
top: 1.25rem;
left: 2.5rem;
}
.content{
    width:59rem;
    height:23.313rem;
    position: relative;
    top: 1.813rem;
}

.heading2{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 1.875rem;
font-style: normal;
font-weight: 600;
line-height: 116%;
left: 2.5rem;
position: relative;
top: 2.438rem;
}
.content2{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
width:47.688rem;
height:10.5rem;
position: relative;
top: 2.875rem;
left: 2.5rem;
}
.container4{
    width:55rem;
    height:26.495rem;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    position: relative;
    bottom: 4.375rem;
    left: 0.313rem;
}
.heading3{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 1.875rem;
font-style: normal;
font-weight: 600;
line-height: 116%;
}
.tick{
    width:1.188rem;
    height:1.188rem;
}
ul{
    width:34.918rem;
    height:213.402rem;
    display:flex;
    flex-direction:column;
    list-style: none;
    position: relative;
    right: 8.9rem;
    top: 5.938rem;
}
.fact1{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 1.438rem;
left: 1.875rem;
margin: 0rem;
}
.fact2{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 1.438rem;
left: 1.875rem;
margin:0px;
}
.fact3{
  color: #595566;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  position: relative;
  bottom: 1.438rem;
  left: 1.875rem;
  margin: 0rem;
  }
.fact4{
  color: #595566;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  position: relative;
  bottom: 1.438rem;
  left: 1.875rem;
  margin: 0rem;
  }
.fact5{
  color: #595566;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  position: relative;
  bottom: 1.438rem;
  left: 1.875rem;
  margin: 0rem;
  }
.fact6{
  color: #595566;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  position: relative;
  bottom: 1.438rem;
  left: 1.875rem;
  margin: 0rem;
  }
.lapboy{
    width: 32.188rem;
    height: 48.313rem;
    position: relative; 
    top: 1.875rem;
    right: 15.313rem;
}
.consultation{
  width:100vw;
  height:25.625rem;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #FFFFFF;
  flex-direction: column;
}
.consultation img{
  width: 75rem;
  height: 15.75rem;
  position: relative;
  top: 8.375rem;
}
.consultation .caption{
  color: white;
  font-family: "Lato",sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
position: relative;
bottom: 3.5rem;
right: 7.75rem;
}
.consultation h2{
  color: white;
  font-family: "Poppins",sans-serif;
font-size: 2.188rem;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
bottom: 3.5rem;
right: 7.813rem;
}
.consultation strong{
  font-family: "Lato",sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 147.5%;
color:#FFFFFF;
}
.consultation button{
  width: 9.5rem;
  height: 3.875rem;
  background-color: #FBC336;
  border-radius:  2.625rem;
  border:none;
  color:black;
  font-family: "Lato",sans-serif;
  font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 160%; 
text-align: center;
position: relative;
left: 11.313rem;
bottom: 7.875rem;
}
.consultation button:hover{
  background-color: #4EAF4E;
  color: white;
  transition: 0.3s;
  width:10.125rem;
  height:4.5rem;
  font-size: 1.563rem;
  font-weight: 500;
}
}
@media (max-width:615px){
  .container1{
    width:100vw;
    height:30.75rem;
    background-color:rgba(251, 195, 54, 0.11);
    display:flex;
    justify-content:center;
    align-items:center;
}
.container1 img{
    width:59rem;
    height:21.938rem;
    position: relative;
    top:4.688rem;
}

.background{
    width: 35.875rem;
    height: 17.625rem;
    background-color:white;
    position: relative;
    left: 28.125rem;
    bottom: 8.813rem;
  border-radius: 8.063rem;
}

.usa{
    width: 34.188rem;
    height: 16.375rem;
    position: relative;
    right: 7.188rem;
    bottom: 8.5rem;
}
.stusa{
    color: #FFF;
text-align: center;
font-family: "Poppins", sans-serif;
font-size: 3.125rem;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
bottom: 17.5rem;
}
.container2{
    width:100vw;
    height:102.875rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.container3{
    width:59rem;
    height:60.188rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position: relative;
    bottom: 13.75rem;
}
.heading1{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 1.875rem;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
left: 2.5rem;
}
.content1{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
width:46.438rem;
height:10.5rem;
position: relative;
top: 1.25rem;
left: 2.5rem;
}
.content{
    width:59rem;
    height:23.313rem;
    position: relative;
    top: 1.813rem;
}

.heading2{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 1.875rem;
font-style: normal;
font-weight: 600;
line-height: 116%;
left: 2.5rem;
position: relative;
top: 2.438rem;
}
.content2{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
width:47.688rem;
height:10.5rem;
position: relative;
top: 2.875rem;
left: 2.5rem;
}
.container4{
    width:55rem;
    height:26.495rem;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    position: relative;
    bottom: 4.375rem;
    left: 0.313rem;
}
.heading3{
    color: #1C1C1C;
font-family: "Poppins", sans-serif;
font-size: 1.875rem;
font-style: normal;
font-weight: 600;
line-height: 116%;
}
.tick{
    width:1.188rem;
    height:1.188rem;
}
ul{
    width:34.918rem;
    height:213.402rem;
    display:flex;
    flex-direction:column;
    list-style: none;
    position: relative;
    right: 8.9rem;
    top: 5.938rem;
}
.fact1{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 1.438rem;
left: 1.875rem;
margin: 0rem;
}
.fact2{
    color: #595566;
font-family: "Lato", sans-serif;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 116%;
position: relative;
bottom: 1.438rem;
left: 1.875rem;
margin:0px;
}
.fact3{
  color: #595566;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  position: relative;
  bottom: 1.438rem;
  left: 1.875rem;
  margin: 0rem;
  }
.fact4{
  color: #595566;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  position: relative;
  bottom: 1.438rem;
  left: 1.875rem;
  margin: 0rem;
  }
.fact5{
  color: #595566;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  position: relative;
  bottom: 1.438rem;
  left: 1.875rem;
  margin: 0rem;
  }
.fact6{
  color: #595566;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  position: relative;
  bottom: 1.438rem;
  left: 1.875rem;
  margin: 0rem;
  }
.lapboy{
    width: 32.188rem;
    height: 48.313rem;
    position: relative; 
    top: 1.875rem;
    right: 15.313rem;
}
.consultation{
    width:100vw;
    height:25.625rem;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #FFFFFF;
    flex-direction: column;
    top: 3.125rem;
    position: relative;
}
.consultation img{
    width: 75rem;
    height: 15.75rem;
}
.consultation .caption{
    color: white;
    font-family: "Lato", sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 147.5%;
position: relative;
bottom: 13.938rem;
}
.consultation h2{
    color: white;
    font-family: "Poppins", sans-serif;
font-size: 2.188rem;
font-style: normal;
font-weight: 600;
line-height: 116%;
position: relative;
bottom: 12.5rem;
right: 7.813rem;
}
.consultation strong{
    font-family: "Lato", sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 147.5%;
color:#FFFFFF;
}
.consultation button{
    width: 15.75rem;
    height: 3.875rem;
    background-color: #FBC336;
    border-radius:  2.625rem;
    border:none;
    color:black;
    font-family: "Lato", sans-serif;
    font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 160%; 
text-align: center;
position: relative;
    left: 2.813rem;
    bottom: 1.25rem;
}
}